<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ONYKS Altium DB Library</title>
    <link rel="icon" href="static/images/ico.ico">
    <link rel="stylesheet" href="static/style2.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="static/images/logo.png" alt="ONYKS Logo">
        </div>
        <div class="Nav_Btn">
            <button class="Btn">Strona Główna</button>
            <button class="Search">Wyszukiwarka</button>
            <button class="Btn">Symbole</button>
            <button class="Btn">Footprinty</button>
            <button class="Btn">Ustawienia</button>
        </div>
        <div class="Github">
            <a href="https://github.com/jimmyswimmy/AltiumDesignerLibrary">Repozytorium DB</a>
        </div>
    </div>

    <main class="main-container">
        <!-- Tutaj wstawiamy treści do strony np dashboard, tabelki itp. -->
    </main>
</body>
</html>