{% extends "base.html" %}
{% block content %}
<form method="post" action="{{url_for('_import')}}">    
<input type="hidden" name="name" value="{{table}}" />
<input type="hidden" name="stage" value="3" />
<div class="row-fluid bottom-row">
	<div class="span10">
		<h3>Import Step 2: Review Updates</h3>
		<p>The contents of your file are listed below.  Review them to be sure these are the changes you wish to commit to the database.</p>
		<p><span class="badge badge-success">Create</span> Means a new component will be added to the database.</p>
		<p><span class="badge badge-warning">Update</span> Means an existing component will be updated with new data from the import.</p>
	</div>
	<div class="span3 offset9 bottom-span">
		<button class="btn btn-info btn-large pull-right" type="submit">Commit to Database <i class="icon-chevron-right icon-white"></i></button>
	</div>
</div>
</form>
<table class="table table-bordered table-striped component-table">
    <tr>
        {% for header in data.headers %}
        <th>
           {{ prettify(header) }}
        </th>
        {% endfor %}
    </tr>
    {% for row in data %}
    <tr>
 		{% for cell, header in zip(row, data.headers) %}
        <td>
        {% if header == 'library_ref' %}
        	<a href="{{url_for('get_file', name=cell, type='symbol')}}">{{cell}}</a>
        {% elif header == 'footprint_ref' %}
        	<a href="{{url_for('get_file', name=cell, type='footprint')}}">{{cell}}</a>        
        {% elif header == 'status' %}
        	{% if cell %}
        		<span class="badge badge-warning">Update</span>
        	{% else %}
        		<span class="badge badge-success">Create</span>
        	{% endif %}
        {% else %}
        	{{cell}}
        {% endif %}
		</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}