{% extends "base.html" %}
{% from "util.html" import render_field %}
{% block content %}
<form method="post" class="form-horizontal">
    {{ form.hidden_tag() }}
	<h2>SVN Settings</h2>
      {{ render_field(form.ALTIUM_SVN_URL, label=True) }}
      {{ render_field(form.ALTIUM_SVN_USER, label=True) }}
      {{ render_field(form.ALTIUM_SVN_PASS, label=True) }}
      {{ render_field(form.ALTIUM_SYM_PATH, label=True) }}
      {{ render_field(form.ALTIUM_FTPT_PATH, label=True) }}
    <h2>Database Settings</h2>
      {{ render_field(form.SQLALCHEMY_DATABASE_URI, label=True) }}
    <div class="control-group">
    	<div class="controls">
    	<input type="submit" value="Submit" class="btn btn-primary" />
    	</div>
    </div>
</form>
{% endblock %}
